/* Fase 1  Formatando os subtitulos */
.subTitulo {
    /* uppercase lowercase capitalize */
    text-transform: uppercase;
    line-height: 1.5;
    text-shadow:2px 2px 5px #c6f5f7;
    color: #213133;
    border-bottom-style: groove;
    border-bottom-width: 20px;
    border-bottom-color: cadetblue;
}

/* Fase 1 - Adicionadno bordas as tebelas */
table.horario {
    width:100%;
    border: 1px solid black;
    border-collapse: collapse;
}

table.horario tr {
    border: 1px solid black;
}

table.horario td,
table.horario th{
    border: 1px solid black;
}

