/*Estilos relacionados as listas*/

/*
    list-style-type: https://www.w3schools.com/cssref/pr_list-style-type.asp
    list-style-image : https://www.w3schools.com/cssref/pr_list-style-image.asp
    list-style-position : https://www.w3schools.com/cssref/pr_list-style-position.asp

*/

#corpoDaPagina ul {
    /* circle | disc | square */
    list-style-type: square; 

    /* outside inside */
    list-style-position: outside;

    /*Colorindo a Lista*/
    background: #3b575b ;
    padding: 20px;

}

#corpoDaPagina ul li {
    background: #c6f5f7;
    margin: 5px;
  }

#corpoDaPagina ol {
    /* decimal | decimal-leading-zero | georgian | hebrew | katakana-iroha |
       lower-alpha | lower-greek | lower-latin | lower-roman | none |
        upper-alpha | upper-greek | upper-latin | upper-roman  */
    list-style-type: lower-alpha; 
    list-style-position: outside;

    /*list-style-image: url('../img/check-icon.png');*/

    /*Colorindo a Lista*/
    background: #91b3b4 ;
    padding: 20px;
}

#corpoDaPagina ol li {
    background: #c6f5f7;
    padding: 5px;
    margin-left: 35px;
}
 
#corpoDaPagina dl {
    background: #91b3b4 ;
    padding: 20px;
    line-height: 1.5;
}

#corpoDaPagina dt {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    width: 200px;

    font-weight: bold;

    background: #c6f5f7;    
}

#corpoDaPagina dd {
    margin-top: 10px;
    background: #c6f5f7;  
}